@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://fonts.googleapis.com/css?family=Lobster);

body,*{
	
	margin: 0;
	border: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

header{

	background-color: #459ce4;
	color: white;
	background-size: cover;
	height: 700px;

}

.wrap-header {
	width: 1024px;
	margin: 0 auto;
}

header .banner {

	width: auto;
	padding: 25px;
	background: #2882cd;
	margin: 0 auto;

}

header h1 {
	font-size: 20px;
	color: #65b0ef;
	text-decoration: none;
	margin: 0;
}

header h1 a {
	text-decoration: none;
	color: white;
}

header h1 span{
	font-weight: 500;
	font-size: 30px;
	font-family:'Lobster', cursive;
	color: white;

}


/*-------------------------------------------------------------------*/

header .wrap-menu{
	float: right;
	margin-top: -30px;
	
}

header .menu {
	padding: 0;
	list-style: none;
}

header .menu .item {
	display: inline-table;
	margin-left: 25px;
	font-weight: 300;

}

header .menu .item a {
color:white;
text-decoration: none;
text-shadow: 2px 2px 2px #1b5d95;

}

 header .menu .item a:hover {
 text-shadow: 2px 2px 2px #000000;
color: #white;
font-weight: 400;

}
.cleafix {
	clear: both;
}

/*-------------------------------------------------------------------*/

header .header-container {
margin-left: 180px;
	margin-top: 180px;
}

header .header-container .texto {
font-weight: 100;
font-size: 35px;

}
header .header-container .t2 {
padding-top:  15px;
font-weight: 300;
font-size: 20px;
cursor: pointer;

}
header .header-container .t2:hover  {
	 text-shadow: 2px 2px 2px #000000;
color: #white;
font-weight: 400;
}