@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800);

body{
	margin: 0;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
header{
	background-image: url(../img/fondo.jpg);
	background-size: cover;
	color: white;
	height: 820px;
}
.wrap-header {
	width: 1190px;
	margin: 0 auto;
	padding: 0;
}
header .banner {
	width: auto;
	background: #02918c;
	margin: 0 auto;
	height: 61px;
}
header h1 {
	padding-top: 10px;
	margin: 0 auto;
	font-size: 26px;
	color: #65b0ef;
	text-decoration: none;
}
header h1 a {
	text-decoration: none;
	color: #cfc91d;
	font-weight: bold;
}
header h1 span{
	font-weight: bold;
	color: white;
}
/*-------------------------------------------------------------------*/
header .wrap-menu{
	float: right;
	margin-top:-30px;
}
header .menu {
	padding: 0;
	list-style: none;
}
header .menu .item {
	display: inline-table;
	margin-left: 51px;
	font-weight: 300;
}
header .menu .item a {
	color:white;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
header .menu .item a:hover {
	color: #white;
	font-weight: 400;
}
.clearfix {
	clear: both;
}
/*-------------------------------------------------------------------*/
header .header-container {
	text-align: center;
	margin-top: 210px;
}
header .header-container .t1 {
	font-weight: 400;
	font-size: 30px;
	letter-spacing: 2px;
}
header .header-container .t2 {
	padding-left: 40px;
	font-weight: 800;
	font-size: 68px;
	letter-spacing: 25px;
}
header .header-container .t3 {
	font-weight: 400;
	font-size: 18px;
}
header .mostacho {
	padding-top: 52px;
}
header .header-footer .boton {
	margin-top: 47px;
	background: #cfc91d;
	border: #cfc91d;
	font-weight: 800;
	letter-spacing: 2px;
	padding: 10px 38px 10px 38px;
	cursor: pointer;
}
/*-------------------------------------------------------------------*/
.container {
	text-align: center;
	margin: 0 auto;
	width: 878px;
}
.container h3 {
	margin: 0;
	padding-top:96px;
	color: #02918c;
	font-weight: bold;
	font-size: 46px;
}
.container img {
	margin: 0;
	padding-top:30px;
}
.container .texto {
	color: #7e8287;
	font-size: 16px;
	line-height:30px;
}
.container span {
	font-weight: bold;
}
.clearfix {
	clear: both;
}
/*-----------------------------------*/
.blanco-container {
	color: #7e8287;
	text-align: center;
	margin: 0 auto;
	width: 1180px;
	padding-top: 70px;
	margin-bottom: 100px;
}
.blanco-wrap {
	text-align: center;
	line-height: 25px;
	width: 160px;
	height: 260px;	
	float: left;
	padding: 0px 65px 0px 65px ;
	
}
.blanco-wrap p {
	font-size: 12px;
	font-weight: 200;
	line-height: 25px;
}
.palo img{
	margin: 0 auto;
	position: absolute;
	padding-left: 142px;
	margin-top: -250px;
}
.container .blanco-wrap {
	margin: 0 auto;
	position: relative;
	display: inline-table;

}
.container .blanco-wrap .blanco{
	padding-right: 60px;
}
.clearfix {
	clear: both;
}
/*-------------------------------------------------------------------*/
.todo {
	padding: 0 auto;
}
/*-------------------------------------------------------------------*/
.Servicios {
	float: left;
	background: #f0f0e8;
	float: left;
	width: 50%;
	height: 771px;
}
.Servicios .contenedor {
	margin: 0 auto;
	width: 475px;
}
.todo .Servicios .contenedor h3 {
	text-align: left;
	margin: 0 auto;
	padding-top: 70px;
	color: #02918c;
	font-weight: bold;
	font-size: 46px;
}
.Servicios .contenedor .separador{
	padding-top:30px;
	text-align: left;
	margin: 0;
}
.Servicios p {
	padding-top:20px;
	margin: 0 auto;
	text-align: left;
	color: #7e8287;
	font-size: 11px;
	line-height: 20px;
}
/*-----------------------------------*/
.Servicios .wrap {
	color: #7e8287;
	margin: 0 auto;
	padding-top: 60px;
}
.Servicios .gris-Servicios .girs-wrap h4{
	text-align: left;
	color: #7e8287;
	margin: 2px;
	padding: 0 auto;
}
.Servicios .gris-Servicios .gris-wrap {
	width: 167px;
	height: 0 auto;	
	padding: 0px 70px 80px 0px;
}

.Servicios .gris-Servicios .wrap .gris-wrap :last-child {
	padding: 0;
}

.Servicios .gris-Servicios .gris-wrap p {
	padding: 0 0 30px 0;
}
.Servicios .gris-Servicios .gris-wrap img{
	margin: 0 auto;
	padding: 0;
}
.Servicios .contenedor .gris-wrap {
	margin: 0 auto;
	float: left;
}
.clearfix {
	clear: both;
}
/*-------------------------------------------------------------------*/
.medio {
	float: right;
	width: 50%;
}
/*-------------------------------------------------------------------*/
.work {
	padding-top: 60px;
	text-align: center;
	margin: 0 auto;
	width: 685px;
}
.work-container {
	text-align: center;
}
.work .work-container h3 {
	text-align: center;
	margin: 0 auto;
	padding: 0 auto;
	color: #02918c;
	font-weight: bold;
	font-size: 46px;
}
.work-container img {
	margin: 0;
	padding-top:30px;
}
.work-container .texto {
	color: #7e8287;
	font-size: 16px;
	line-height:30px;
	padding-bottom: 60px;
}
/*-------------------------------------------------------------------*/
.foto{
}
.foto .foto-container {
	width: 1280px;
 	margin: 0 auto;
}
.foto .foto-container img {
	margin: 0;
	float: left;
}
/*-------------------------------------------------------------------*/
.contact {
	padding-top: 60px;
	text-align: center;
	margin: 0 auto;
	width: 685px;
}
.contact-container h3 {
	margin: 0;
	color: #02918c;
	font-weight: bold;
	font-size: 46px;
}
.contact-container img {
	margin: 0;
	padding-top:30px;
}
.contact-container .texto {
	color: #7e8287;
	font-size: 16px;
	line-height:30px;
	padding-bottom: 60px;
}
/*-------------------------------------------------------------------*/
footer {
	height: 600px;
	background: #0b0b0b;
	color: #7e8287;
	font-weight: 300;
	padding-top: 70px;
	font-size: 16px;
}
footer .container .menu-footer{
	text-align: center;
}
footer .menu-footer img{
	padding: 10px 0 30px 0;
}
footer ul{
	list-style: none;
	margin: 0;
	padding: 0 0;
}
footer ul li {
	line-height: 35px;
}
footer .container .menu-footer .boton {
	margin-top: 60px;
	background: #cfc91d;
	border: #cfc91d;
	font-weight: 800;
	letter-spacing: 2px;
	padding: 10px 38px 10px 38px;
	cursor: pointer;
	margin-bottom: 100px;
}
footer .container .copyright{
	margin: 0 auto;
	padding-bottom: -80px;
}